body {
  margin: 0;
  padding: 0;
  background-color: #A1A197;
  background-image: url(background.png);
  min-height: 97%;
  position: relative;
}
header {
  color: white;
  margin: 0;
  padding: 0;
  background-color: #737E85;
}
header h1 {
  width: 100%;
  text-align: center;
  font-family: 'Alegreya Sans SC', sans-serif;
  letter-spacing: 0.1em;
  margin-bottom: 0;
}
#navigation li {
  list-style-type: none;
  display: inline;
  margin-right: 1em;
}
#navigation a {
  color: white;
  font-family: 'Alegreya Sans SC', sans-serif;
  text-decoration: none;
}
#navigation a:hover {
  text-decoration: underline;
}
header #navigation {
  position: relative;
  padding-top: 0.5em;
  margin-top: 0;
}
footer {
  position: absolute;
  bottom: 0;
}
#content {
  max-width: 60em;
  max-width: 60rem;
  margin: 0 auto 1em auto;
  padding: 0.5em 1.5em 1.5em 1.5em;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  background-color: #EEEEEE;
  min-height: 50%;
  border-image: url(content-border.png) 13 round;
  border-width: 12;
  border-style: solid;
}
#content p {
  margin-bottom: 1.7em;
  line-height: 1.4;
}
#content video, article img {
  margin: auto;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  display: block;
  max-width: 100%;
}