@-webkit-keyframes final {
    0% {
       	background-color: beige;
    }
    33% {
    	background-color: cornflowerblue;
    }
    66% {
  		background-color: coral
    }
    100% {
  		background-color: beige;
    }
 }
@keyframes final {
    0% {
    	background-color: beige;
    }
    33% {
    	background-color: cornflowerblue;
    }
    66% {
   		background-color: coral
    }
    100% {
    	background-color: beige;
    }
}
.final {
	-webkit-animation: final 8s linear infinite;
}
.banner {
    width: 100%;
    height: 4em;
}