<html>
  <head>
    <title>{{ page.title }}</title>
  </head>
  {% include base.html %}
  <body>
{% capture category %}{{page.path | replace_first:'/index.md',''}}{% endcapture %}
    <header id="titlehead">
      {% include navigation.html %}
      <h1>{{ page.title }}</h1>
    </header>
    <ul class="pagelist" id="content">
{% for page in site.pages %}
{% if page.categories contains category %}
<li><a href="{{ page.url | replace_first:'/',''}}">{{ page.title }}</a></li>
{% endif %}
{% endfor %}
    </ul>
    {{ content }}
    <script src="https://cdn.rawgit.com/btmills/geopattern/b3a5898c9b15b1850596f19573917b9e3d7f1949/js/geopattern.min.js"></script>
  	<script>
      var pattern = GeoPattern.generate({{ page.title }});
  		document.getElementById("titlehead").style.backgroundImage = pattern.toDataUrl();
  	</script>
  </body>
</html>
